@import url('https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap');
html, body, #wrap {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
/*body {
    background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
}*/
* {
    box-sizing: border-box;
}
#wrap {
    display: table;
    width: 100%;
}
.content {
    background: #ffffff;
}
#header {
    overflow: hidden;
    background: #3367d6;
    color: #e4ebfa;
    top: 0;
    width: 100%;
    margin-bottom: 30px;
}
#footer {
    position: fixed;
    background: #f2f2f2;
    color: #70757a;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
h1 {
    padding: 7px 20px;
    margin: 0;
}
.logo {
    display: block;
    float: left;
    font-size: 2em;
    text-decoration: none;
}

/* Logo-4 */
.main-logo-holder{
    text-align: left;
    margin-left: 10px;
}
.main-logo h3 {
    color: #ffffff;
    font-size: 1.8em;
    font-weight: 300;
    line-height: 0.3;
    font-family: 'Lobster', cursive;
    transform: scaleY(1.1);
}
.sub-title-main-logo {
    font-size: 14px;
    color: #545454;
    text-transform: capitalize;
    font-style: italic;
    font-family: 'Mansalva', cursive;
}

/* The Modal - START */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 60%;
    text-align:center;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* The Modal - END */

/* Modal Cards - START */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 4px;
    text-align: center;
}

.title {
    color: grey;
    font-size: 19px;
    font-weight: bold;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #4d90fe;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover {
    opacity: 0.7;
}

.inline-content {
    display: inline-block;
}
/* Modal Cards - END */

/* Alert - START*/
.alert {
    position: absolute;
    z-index: 1000;
    padding: 20px;
    background-color: #fa776d;
    color: white;
    left: 50%;
    top: 30%;
    border-radius: 10px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
/* Alert - END*/

/* Setup Tabs - START */
.clearfix:after{
    display: block
}
.form-column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.full-wdth{
    width: 100%;
}
.form-column, .full-wdth {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.pre-use-form-wrapper {
    max-width: 767px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding-top: 250px;
    z-index: 1;
}
.pre-use-form-wrapper .form-tab-highlight {
    position: absolute;
    width: 254px;
    left: 0;
    top: -4px;
    bottom: -4px;
    border-radius: 4px;
    background-color: #2a56c6;
    -webkit-transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s;
    -moz-transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s;
    -ms-transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s;
    -o-transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s;
    transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s;

}
.pre-use-form-wrapper ul {
    background-color: #3367d6;
    z-index: 1;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
}
.pre-use-form-wrapper ul li {
    list-style-type: none;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.pre-use-form-wrapper ul li a {
    display: block;
    padding: 10px;
    width: 100%;
    color: #ffffff;
    text-decoration: none;
}
.pre-use-form-wrapper ul li a:focus{
    outline: 0;
}
.pre-use-form-wrapper ul li a span {
    position: relative;
    z-index: 1;
}
.pre-use-form-wrapper ul li.active a {
    background-color: #ffffff;
}
.pre-use-form-wrapper .form-content {
    background-color: #eeeeee;
    padding: 20px;
    color: #777777;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s;
    transform: translate3d(100%, 0px, 0px);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.pre-use-form-wrapper .form-content.show {
    transform: translate3d(0px, 0px, 0px);
}
.pre-use-form-wrapper .form-content h6 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px;
}
.pre-use-form-wrapper .form-content .next-btn {
    background-color: #2a56c6;
    color: #ffffff;
    display: inline-block;
    padding: 6px 26px;
    border-radius: 4px;
    margin-top: 20px;
    text-decoration: none;
}
.pre-use-form-wrapper .form-content .form-wizard-previous-btn {
    background-color: #f1f1f1;
    color: #000000;
}

.form-content-wrapper {
    height: 350px;
    position: relative;
}
.text-field {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.flag-image {
    vertical-align: middle;
}
.forms-margin-top {
    margin-top: 30px;
}
.terms-of-use-div {
    background-color: #eeebeb;
    width: 100%;
    height: 170px;
    border: 1px solid #495057;
    padding: 7px;
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: scroll;
}
.google-login-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.google-login-button {
    background-color: #ffffff;
    color: #444;
    border-radius: 4px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    text-decoration: none;
    margin-top: 20px;

    display: block;
    padding: 2px;
    width: 30%;

    position: relative;
    z-index: 1;

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.iconButton {
    background: url('/static/img/g-icon.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

.google-login-button:disabled,
.google-login-button[disabled]{
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

/* Loading icon */
.processing-icon {
    display: inline-block;
}
.processing-icon:after {
    content: " ";
    display: block;
    border-radius: 50%;
    border: 6px solid #ffffff;
    border-color: #ffffff transparent #ffffff transparent;
    animation: processing-icon 1.2s linear infinite;
}
@keyframes processing-icon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.disabled-link {
    pointer-events: none;
}

.save-button {
    background-color: #2a56c6;
    color: #ffffff;
    display: inline-block;
    padding: 6px 26px;
    border-radius: 4px;
    margin-top: 20px;
    text-decoration: none;
}
/* Setup Tabs - END */

/* Diagram - START */

.tree a[href=""] {
    cursor: default;
}
.tree ul {
    position: relative;
    padding: 1em 0;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
}
.tree ul:after {
    content: "";
    display: table;
    clear: both;
}
.tree ul ul:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 1em;
}
.tree ul li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 1em 0.5em 0;
    margin-left: -0.25em;
    margin-right: -0.25em;
}
.tree ul li:before, .tree ul li:after {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 1em;
}
.tree ul li:after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}
.tree ul li:only-child:after, .tree ul li:only-child:before {
    display: none;
}
.tree ul li:only-child {
    padding-top: 0;
}
.tree ul li:first-child:before, .tree ul li:last-child:after {
    border: 0 none;
}
.tree ul li:last-child:before {
    border-right: 1px solid #ccc;
    border-radius: 0 1em 0 0;
}
.tree ul li:first-child:after {
    border-radius: 1em 0 0 0;
}
.tree ul li a {
    border: 1px solid #000000;
    padding: 0.75em;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.3em;
    color: #333;
    position: relative;
}

.node-title {
    font-weight: bold;
}

.node-sub-title {
    color: #ccc;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #eaeaea;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    white-space: pre-line
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.dropbtn {
    width: 230px;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #92b1f5;}

.margin-bot {
    margin-bottom: 10px;
}

.margin-top {
    margin-top: 10px;
}

/* Diagram - END */

/* Notes - START */
.info-note {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    margin: auto;
    padding: 4px 12px;
    width: 80%;
}

/* Notes - END */
