<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <title>Pluto</title>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body>
    <div id="wrap">

      <!-- Header - START -->
      <header>
        <h1 class="logo">Pluto</h1>
      </header>
      <!-- Header - END -->

      <!-- Content - START -->
      <main class="content">

      </main>
      <!-- Content - END -->

      <!-- Footer - START -->
      <footer class="footer">
        <p>Test footer</p>
      </footer>
      <!-- Footer - END -->
    </div>


    <!-- Main Modal - START -->
    <div id="mainModal" class="modal">
      <div class="modal-content">
        <div class="card inline-content">
          <p class="title">Import Policies From File</p>
          <button>Start</button>
        </div>

        <div class="card inline-content">
          <p class="title">Import Policies From OUs</p>
          <button>Start</button>
        </div>

        <div class="card inline-content">
          <p class="title">Backup Policies</p>
          <button>Start</button>
        </div>
      </div>

    </div>
    <!-- Main Modal - END -->
  </body>
</html>
