<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>Pluto</title>

        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <!-- Header - START -->
        <header class="header" id="header"></header>
        <!-- Header - END -->

        <!-- Content - START -->
        <main class="content" id="content"></main>
        <!-- Content - END -->

        <!-- Footer - START -->
        <footer class="footer" id="footer"></footer>
        <!-- Footer - END -->
    </body>
</html>
