<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <title>Pluto</title>

        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <div id="wrap">

            <!-- Header - START -->
            <header>
                <h1 class="logo"></h1>
            </header>
            <!-- Header - END -->

            <!-- Content - START -->
            <main class="content" id="content">
                <div class="sub-content">
                    <div>
                        <h3 class="edit-policies-title">/User/Office 365/Chromebook</h3>
                    </div>
                    <table>
                        <tr>
                            <th style="width:40%">chrome.users.*</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td class="child-row">chrome.users.IsAllowSomething</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="child-row">chrome.users.BrowserThemeColor</td>
                            <td>
                                <input type="color" id="head" name="head" value="#4DB246">
                            </td>
                        </tr>
                        <tr>
                            <th style="width:40%">chrome.devices.*</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td class="child-row">chrome.devices.SomeValue</td>
                            <td>
                                <input class="editValueInputText preview-input" type="text" placeholder="Enter stuff" name="testo" id="testo" value="stuff" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="child-row">chrome.devices.BlaType</td>
                            <td>
                                <select id="types" name="types">
                                    <option value="1">NOT_INSTALLED</option>
                                    <option value="3">FORCED</option>
                                    <option value="4">FORCED_AND_PIN_TO_TOOLBAR</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </main>
            <!-- Content - END -->

            <!-- Footer - START -->
            <footer class="footer">
                <p>Test footer</p>
            </footer>
            <!-- Footer - END -->
        </div>
    </body>
</html>
