<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <title>Pluto</title>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="module" src="{{ url_for('static', filename='js/tree.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<div id="wrap">

    <!-- Header - START -->
    <header>
        <h1 class="logo"></h1>
    </header>
    <!-- Header - END -->

    <!-- Content - START -->
    <main class="content">
        <ul id="myUL">
            <li>
                <span class="tree-spaces">chrome.users.*</span>
                <ul class="nested active">
                    <li class="">
                        chrome.users.IsAllowSomething
                        <span>
                                    <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                                </span>
                    </li>
                    <li class="">chrome.users.BrowserThemeColor</li>
                </ul>
            </li>
            <li>
                <span class="">chrome.devices.*</span>
                <ul class="nested active">
                    <li class="">chrome.devices.SomeValue</li>
                    <li>
                        <span class="">chrome.devices.BlaType</span>
                        <ul class="nested active">
                            <li class="">bbbbbbbb</li>
                            <li class="">zzzzzzzz</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </main>
    <!-- Content - END -->

    <!-- Footer - START -->
    <footer class="footer">
    </footer>
    <!-- Footer - END -->
</div>
</body>
</html>
